.background{
    background-image:url("../imgs/xp.jpg");
}

/* Reworked Bootstrap classes */
.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: none;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
}
/*End of reworked Bootstrap classes */
/*@media screen and (min-width: 1000px){*/
/*    div.content{*/
/*        padding: 16px;*/
/*        max-width: 800px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/* Custom Content Container*/
.cont{
    min-height:100vh;
    display:flex;
    flex-direction:column; 
	justify-content:space-between;
}

/* Elevations */
.elevation-high{
    filter: drop-shadow(-1px 10px 7px #6b6b6b);
}
.elevation-med{
    filter: drop-shadow(-1px 10px 7px #b0b0b0);
}
.elevation-low{
    filter: drop-shadow(-1px 10px 7px #d6d6d6);
}

/* Screen sizes for content*/
@media screen and (min-width: 1000px){
    div.content{
        padding: 16px;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px){
    div.content{
        padding: 24px;
        max-width: 400px;
        min-width: 324px;
        margin-left: auto;
        margin-right: auto;
    }
}
